*{
  margin:0px;
  box-sizing:border-box;
  text-decoration: none;
  
}
html {
  width:100%;
  scroll-behavior: smooth;
}
body {
  width:100%;
  overflow-x: hidden;
}

@font-face {
  font-family: Neutrons;
  src: url(/fonts/neutrons.ttf);
}

@font-face{
  font-family: Boston;
  src: url(/fonts/boston.ttf);
}

@font-face{
  font-family: Rogshire;
  src: url(/fonts/rogshire.ttf);
}

@font-face{
  font-family: Vampire;
  src: url(/fonts/vampire.ttf);
}

@font-face{
  font-family: GoodBrush;
  src: url(/fonts/goodbrush.ttf);
}

@font-face{
  font-family: Gloryse;
  src: url(/fonts/gloryse.ttf)
}

@font-face{
  font-family: Lemon;
  src: url(/fonts/Lemon.otf);
}

@font-face{
  font-family: Ready;
  src: url(/fonts/Ready.ttf);
}

@font-face{
  font-family: Stanford;
  src: url(/fonts/Stanford_Breath.ttf);
}

.navbar{
  position:fixed;
  top: -100px;
  width:100%;
  max-width:100%;
  height: 70px;
  background-color: #d6e5e8;
  color:#1e212a;
  display: flex;
  border-top: 5px black solid;
  border-bottom: 5px black solid;
  align-items: center;
  transition: all 3s ease;
  animation: dropDown 1s ease forwards;   
}

.logo-container{
  height:50px;
  width:60px;
  margin-left: 5px;
}

#logo{
  background-image: url("/web_images/logo_1.png");
  background-size: cover;
  height:50px;
  width:100%;
}

#teamname{
  padding-bottom: 40px;
  font-family: Neutrons;
  font-size: 4rem;
  font-weight:500;
  margin-left:5px;
}

a{
  font-size: 20px;
  color:#1e212a; 
  text-decoration: underline;
  font-family: Lemon;
}

a:hover{
  font-size: 30px;
  transition: all 1s ease;
}

#home-tab{
  margin-left: 150px;
  font-family: Boston;
  font-size: 25px;
}
#product-tab{
  margin-left: 120px;
  font-family: Boston;
  font-size: 25px;
}
#data-tab{
  margin-left: 120px;
  font-family: Boston;
  font-size: 25px;
}
#about-tab{
  margin-left: 120px;
  font-family: Boston;
  font-size: 25px;
}
#contact-tab{
  margin-left: 90px;
  font-family: Boston;
  font-size: 25px;
}

.content-area-section{
  display: flex;
  justify-content: flex-end;
  align-items: end;
  align-content: flex-end;
  font-family: GoodBrush;
  font-size: 3rem;
  background-image: url("web_images/hero_image.jpg");
  background-size: cover;
  max-width:100%;
  height: 700px;
}
#content-area{
  width:50%;
  text-align: left;
}
pre{
  height:300px;
  padding:20px 0px 20px 20px;
  margin-bottom: 20px;
  
  text-align: left;
  width:100%;
  background-color:rgba(0, 0, 0, 0.7);
  border-bottom: 2px white solid ;
  border-right: 2px white solid ;
  font-family: Lemon;
  font-size: 3rem;
}
#content-area{
  color: white;
}
.text-2{
  font-size: 2rem;
  font-family: Rogshire;
}
#text2{
  display: flex;
  flex-direction: column;
}

.graph1-section{
  display:flex;
  justify-content:space-evenly;
  width:100%;
  height:500px;
  background-color: #F7F7FF;
}

.graph1-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:30px;
  width:45%;
  border: 2px black solid;
  background-color: #92c0c7;
}

#graph1{
  background-color: lavender;
  border: 2px white solid;
  height:90%;
  width:90%;
}

.graph1-reading-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:30px;
  width:45%;
  border: 2px black solid;
  background-color: #e5d2ab;
  
}

.graph2-section{
  display:flex;
  justify-content:space-evenly;
  width:100%;
  height:500px;
  background-color: white;/
}
.graph2-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:30px;
  width:45%;
  border: 2px black solid;
  background-color: #92c0c7;
}

#graph2{
  background-color: lavender;
  height:90%;
  width:90%;
}

.graph2-reading-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:30px;
  width:45%;
  border: 2px black solid;
  background-color:#e5d2ab;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td{
  border: 1px solid black;
}

th, td{
  padding: 10px;
  text-align: center;
}

canvas{
  margin-top: 20px;
}

table{
    width: 50%;
    margin: 20px;
    border-collapse: collapse;
}
  
th, td{
    padding: 8px;
    border: 1px solid #000;
    text-align: left;
}
  
th{
    background-color: #f2f2f2;
}
  
canvas{
    width: 50%;
    height: 50%;
    margin: 20px;
  }

.product-section{
  display: flex;
  align-items: flex-start;
  background-color: #4b5965;
  width:100%;
  max-width:100%;
  height:500px;
}
.product-heading{
  font-family: Boston;
  margin:2px;
  font-size: 3rem;
  text-decoration: underline;
  display: inline-block;
  max-width: 60%;
  color: #f0f0f0;
  text-align: center;
  
}
.product-image{
  margin:25px;
  height:400px;
  width:450px;
  max-width:60%;
}
.image{
  height:400px;
  width:450px;
  background-image: url(web_images/product_image.jpg);
  background-size: cover;
  border: 5px white solid;
}

.product-data{
  text-align: justify;
  color: #f0f0f0;
  padding-top: 65px;
  width:100%;
}
h4{
  font-size: 2.2rem;
}
h5{
  font-size: 1.1rem;
  margin-bottom: 15px;
}
ul{
  padding-left:0px;
  text-decoration: underline;
}
li{
  list-style-type:square;
}

.download-data-section{
  color:white;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: #463F3A;
  width:100%;
  height:50px;
}
#about{
  text-align: centre;
}
.problem-statement{
  text-align: centre;
}
#about-section{
  text-align: centre;
  padding:5px;
  margin-left:20px;
}
.about-title{
  padding:5px;
  margin-left:20px;
  font-size: 3rem;
  text-decoration: underline;
  font-family: Boston;
}
 /* 
#about-body{
  
  width:90%;
  margin-left: 100px; 
}*/
#contact{
  text-align: left;
  background-color: #8a817c;
  
}
#contact-section{
  padding:5px;
  margin:20px 20px 0px 20px;
}
.contact-title{
  font-family: Boston;
  margin:2px;
  font-size: 3rem;
  text-decoration: underline;
  display: inline-block;
  
}
.contact-content{
  font-size: 1.2rem;
}
#footer-section{
  background-color: black;
  color:white;
  width:100%;
  max-width:100%;
  height:150px;
  text-align: center;
  font-family: Boston;
  font-size: 2rem;
}
#gitlogo{
  height:50px;
  width:50px;
}
.border{
  border:1.5px solid transparent;
}

@keyframes dropDown {
  0% {
    top: -100px;
    }
  100% {
    top: 0px;
  }
}

